<div class="ui two column stackable grid container center aligned">
  <div class="column">
    <div class="ui form">
      <div class="field">
        <div class="ui right action input">
          <input type="text" [(ngModel)]="newTodo.Name" placeholder="Type something to do" />
          <div class="ui teal button" (click)="addTodo()" >
            <i class="add icon"></i>
            Add
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-todoitem [(todolist)]="todolist"></app-todoitem>